:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-2-color: #2F303A;
}
body {
    background-color: var(--background-color);
    color: var(--primary-text-color)
}
header {
    background-color: var(--background-color);
}
footer {
    background-color: var(--background-2-color);
}
a {
    text-decoration: none;
    font-style: normal;
}
ul {
    list-style-type: none;
}
.hero {
    color: #FFFFFF;
    background-color: var(--background-2-color);
}
.logo {
    color: var(--primary-text-color);
}
.logo-color1 {
    color: var(--accent-color);
}
.logo-f {
    color: #FFFFFF;
}
.link {
    color: var(--primary-text-color);
}
.link.current {
    color: var(--accent-color);
}
.link.contact {
    color: var(--secondary-text-color);
}
.link.contact-f {
    color: #FFFFFF3c;
}
.link:hover {
    color: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.link-white {
    color: #FFFFFF;
}
.button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}
.button.primary {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.no-display {
    display: none;
}
.sec-text {
    color: var(--secondary-text-color);
}
.team {
    background-color: #F5F4FA;
}